@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
.section{
	background-size: cover;
}
#section0::after {
	content: "";
	background-image: url("https://images.unsplash.com/photo-1459247512518-2d9ea60e7489?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
	background-size: cover;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
body {
	display: none
}
html, body {
    font-size: 14px;
}
body[class*="fp-viewing-"] {
	display: block
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    color: white;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:white;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Montserrat', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
b {
	color: white;
	opacity: 1 !important;
	font-weight: 500;
}
h1{
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
p{
	font-size: 2em;
	color: #BABEC0;
}
.section{
	text-align:center;
}
#section0 h1 {
	font-size: 5em;
	color: #fff;
	margin:0;
	padding:0;
}
#section1 li {
	color: white;
}
#section2 img{
	margin: 20px 0 0 52px;
}
#section3 img{
	bottom: 0px;
	position: absolute;
	margin-left: -420px;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	color: #BABEC0;

}
#menu li {
	display:inline-block;
	margin: 23px 24px;
	opacity: 0.8;
	float: right;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	color: #fff;
	opacity: 1;
	font-weight: 500;
	transition: all 0.3s;
}
#menu li a{
	text-decoration:none;
	color: #000;
	color: #fff;
	opacity: 1;
	position: relative;
	transition: all 0.3s;
}

#menu li a::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #FB3946;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    -webkit-transform: scaleX(0); 
    transform: scaleX(0); 
    -webkit-transition: all 0.3s ease-in-out 0s; 
    transition: all 0.3s ease-in-out 0s; 
}

#menu li a:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#menu li.active a:hover{
	color: #000;
	color: #fff;
	opacity: 1;
	font-weight: 500;
	opacity: 1;
	transition: all 0.3s;
}

#menu li.active a:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #FB3946;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    transform: scaleX(1); 
}

#menu li:hover{
	opacity: 1;
	transition: all 0.5s;
}
#menu li a,
#menu li.active a{
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 64px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	background-color: rgba(0,0,0,0.25);
}

body {
	display: none
}

body[class*="fp-viewing-"] {
	display: block
}

.portrait {
	height: 250px;
	width: 250px;
	margin-top: 100px;
	border-radius: 50%;
	filter: brightness(180%);
}
p.desc {
	text-align: left;
	line-height: 50px;
	font-size: 1em;
}
.cta {
	background-color: #FB3946;
    color: white;
    font-weight: 500;
	border-radius: 50px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1.5px;
	transition: all 0.3s;
}
.cta:hover {
	opacity: 0.8;
	transition: all 0.3s;
}
.divider {
    width: 100px;
    background-color: #FB3946;
    height: 5px;
	margin:	40px auto;
}

.div-center {
	margin:	40px auto;
}
.opa70 {
	opacity: 0.7;
}
.opa100 {
	opacity: 1;
}

.mobile {
	visibility: visible;	
}
.desktop {
	visibility: hidden;
}
#section0 .fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0px;
}
#section0 {
	text-align: center;
}
@media only screen and (min-width: 900px) {
	.mobile {
		visibility: hidden;
	}
	.desktop {
		visibility: visible;
	}
	#section0{
		text-align: left;
	}
	#section0 .fp-tableCell {
	    display: table-cell;
	    vertical-align: middle;
	    padding-left: 100px;
	}
	html, body {
	    font-size: 18px;
	}
	h1{
		font-size: 2em;
		color: white;
		text-transform: uppercase;
		font-weight: 500;
	}
	.div-left {
		margin: 40px 0; 
	}
}


